<!DOCTYPE html>
<html lang="pt-br">
<head>
    <% include ./modulos/head %>
</head>

<body class="container">

<header>
    <% include ./modulos/header %>
</header>

<main>
    <div class="col-md-12 main-div">
        <div class="infos-div col-md-6">
                <% if(message.length > 0) { %>
                    <div class="alert alert-success">
                      <strong>Atenção!</strong>
                      <ul>
                          <li><%=message[0].msg%></li>
                      </ul>
                    </div>
                  <% } %>
            <form class="information-input" method="POST" action="/file-modifier">
                <div class="form-group">
                  <label for="matricula">Matrícula:</label>
                  <input type="text" class="form-control" id="matricula" name="matricula" placeholder="Digite seu identificador">
                  <small id="matriculaHelp" class="form-text text-muted">A matrícula a constar no LiquiBase.</small>
                </div>
                <button type="submit" class="btn btn-primary">Gerar Arquivos</button>
            </form>
        </div>
        
    </div>
</main>

<footer>
    
</footer>
</body>
</html>