<!DOCTYPE html>
<html lang="pt-br">
<head>
    <% include ./modulos/head %>
</head>

<body class="container">

<header>
    <% include ./modulos/header %>
</header>

<main>
    <div class="col-md-12 main-div">
        <div class="infos-div col-md-6">

        </div>
        
    </div>
</main>

<footer>
    
</footer>
</body>
</html>